{% extends "shops/base.html" %}

{% block title %}Main page{% endblock %}

{% load static %}

{% block content %}

<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

<link rel="stylesheet" href="{% static 'shops/index.css' %}">

<div id='map' style='width: 100vw; height: 100vh'></div>
<script>
      mapboxgl.accessToken = '{{ mapbox_token }}';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
          center: [{{ shop.location }}],
        zoom: 10,
      });

      // Create a new marker.
    const marker = new mapboxgl.Marker()
        .setLngLat([{{ shop.location }}])
        .addTo(map);
    </script>


{% endblock %}